<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">新しいカタチ <i class="fas fa-seedling"></i>Farmers + ONE</h1>
    
    <p>農業の温故知新<br><br>
      日本は労働者不足という課題を抱えています<br>
      自然豊かな日本でいつまでも国産の美味しいお米や野菜を食べたくありませんか？<br><br>
      農家の高齢化、後継者問題など様々な課題を克服したい！<br>
      沖縄県産コーヒーなど新たな農業も生まれています<br>
      そんなチャレンジをサポートしたい！<br><br>
      このサイトを通して<br>
      農家（Farmers）と新たに農業に関わりたい人・農業を支えたい人（+ONE）が繋がりを持ち<br>
      Farmersが今まで築いてきた土地を生かし、ノウハウを次世代に受け継ぎ<br>
      農業に転職する人・農業を副業とする人・スポットでお手伝いする人など新しいONEが<br>
      この世に生まれたら嬉しいです
    </p>
  </div>
</div>


