<h1>農業の温故知新 #public/homes/top</h1>
<h3>
  日本は待ったなしの人口減少が到来します<br>
  自然豊かな日本でいつまでも国産の美味しいお米やお野菜を食べたくありませんか？<br><br>
  農家の高齢化、後継者問題の一助となればと考えて作成しました<br>
  また、若い力で新たな農業も生まれつつあります<br>
  日本の一次産業をITの力で支えたいと考えています<br><br>
  このサイトを通して、現役農家（farmers）と、新たに農業に関わりたい人・農業を支えたい人（+ONE）が<br>
  繋がりを持つことがれば幸いです<br>
</h3>