<div class="top">
  <div class="container">
    <div class="row">
      <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
        <h1>welcome to <i class="fas fa-seedling"></i>Farmers + ONE</h1>
        <p>農業に携わっている人（Farmers）と農業に携わりたい人（+ONE）が繋がる</p>
      </div>
    </div>
  </div>
</div>