<% if farmer.favorited_by?(current_user) %>
    <p>
    <%= link_to farmer_favorites_path(farmer), method: :delete, remote: true do %>
    ♥<%= farmer.favorites.count %> お気に入り
    <% end %>
    </p>
<% else %>
    <p>
    <%= link_to farmer_favorites_path(farmer), method: :post, remote: true do %>
    ♡<%= farmer.favorites.count %> お気に入り
    <% end %>
    </p>
<%end%>